:root {
  --color-pale-violet: hsl(276, 100%, 81%);
  --color-moderate-violet: hsl(276, 55%, 52%);
  --color-desaturated-dark-violet: hsl(271, 15%, 43%);
  --color-grayish-blue: hsl(206, 6%, 79%);
  --color-very-dark-desaturated-violet: hsl(271, 36%, 24%);
  --color-dark-grayish-violet: hsl(270, 7%, 64%);
  --color-light-magenta: hsl(293, 100%, 63%);
  --color-light-violet: hsl(264, 100%, 61%);
  --color-white: hsl(0, 0%, 100%);
  --color-light-grayish-violet: hsl(270, 20%, 96%);
  --color-light-magenta: hsl(289, 100%, 72%);

  --linear-gradient: linear-gradient(
    to bottom left,
    hsl(293, 100%, 63%),
    hsl(264, 100%, 61%)
  );
}

$bp-1: 56.25em; // 900px
$bp-2: 31.25em; // 500px

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  color-scheme: dark light;

  @media only screen and (max-width: $bp-2) {
    font-size: 50%;
  }
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  position: relative;
  font-size: 1.6rem;
  background-color: var(--color-light-grayish-violet);
  overflow: hidden;

  display: grid;
  place-items: center;

  @media only screen and (max-width: $bp-1) {
    overflow: auto;
  }

  &::before {
    content: "";
    width: 30%;
    height: 130%;
    display: block;
    position: absolute;
    z-index: -1;
    background-image: var(--linear-gradient);
    border-radius: 100rem;
    left: -5%;
    top: -40%;

    @media only screen and (max-width: $bp-1) {
      top: -80%;
    }

    @media only screen and (max-width: $bp-2) {
      left: -5.5%;
    }
  }

  &::after {
    content: "";
    width: 30%;
    height: 100%;
    display: block;
    position: absolute;
    z-index: -1;
    background-color: hsla(274, 5%, 74%, 0.11);
    border-radius: 100rem;
    right: -5%;
    bottom: -40%;

    @media only screen and (max-width: $bp-1) {
      display: none;
    }
  }
}

img,
picture,
svg,
video {
  display: block;
  width: 100%;
}

.main {
  width: min(90%, 87rem);

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: $bp-1) {
    margin: 5rem 1rem;

    flex-direction: column;
    justify-content: center;
    row-gap: 5rem;
  }

  &__app {
    width: 38rem;
    background-color: var(--color-white);
    padding: 1rem;
    border-radius: 3rem;
  }

  &__app-container {
    background-color: var(--color-light-grayish-violet);
    border-radius: 2rem;
    overflow: hidden;
  }

  &__app-header {
    background-image: var(--linear-gradient);
    color: var(--color-white);
    padding: 4.5rem 1.5rem 1rem;
    position: relative;
    overflow: hidden;
    border-radius: 1rem;

    display: flex;
    align-items: center;
    column-gap: 1rem;

    &::before {
      content: "";
      background-color: var(--color-white);
      position: absolute;
      width: 22.75rem;
      height: 5rem;
      display: block;
      border-radius: 1.5rem;
      top: -25%;
      left: 50%;
      translate: -50%;
    }
  }

  &__app-header-arrow {
    font-size: 2rem;
    text-decoration: none;
    color: var(--color-white);
  }

  &__app-header-profile-box {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
  }

  &__app-header-photo {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 1px solid var(--color-white);
    overflow: hidden;
  }

  &__app-header-status {
    color: var(--color-pale-violet);
    font-size: 1.3rem;
  }

  &__app-header-circle-box {
    margin-left: auto;

    display: flex;
    flex-direction: column;
    row-gap: 0.2rem;
  }

  &__app-header-circle {
    background-color: var(--color-white);
    width: 3px;
    height: 3px;
    border-radius: 50%;
  }

  &__text {
    width: 50%;

    display: flex;
    flex-direction: column;
    row-gap: 2rem;

    @media only screen and (max-width: $bp-1) {
      text-align: center;
      width: 65%;
    }

    @media only screen and (max-width: $bp-2) {
      font-size: 2rem;
      width: 100%;
    }
  }

  &__paragraph {
    color: var(--color-dark-grayish-violet);
    line-height: 1.5;
  }

  &__app-main-chat {
    padding: 1.5rem 1rem;

    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }

  &__chat-text-received {
    color: var(--color-moderate-violet);
    background-color: var(--color-grayish-blue);
    width: 24rem;
    padding: 1rem;
    border-radius: 1.5rem 1.5rem 1.5rem 0.5rem;
  }

  &__chat-photos-box {
    margin-top: 1.5rem;

    display: flex;
    column-gap: 1rem;
    justify-content: flex-end;
  }

  &__chat-photo {
    border-radius: 1.5rem;
    overflow: hidden;
    width: 5.5rem;
  }

  &__chat-text-sent {
    color: var(--color-desaturated-dark-violet);
    background-color: var(--color-white);
    width: 25rem;
    padding: 1rem;
    border-radius: 1.5rem 1.5rem 0.5rem 1.5rem;

    align-self: flex-end;

    &--1 {
      max-width: max-content;
    }
  }

  &__chat-form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }

  &__chat-form-container {
    background-image: linear-gradient(
      to right,
      var(--color-light-magenta),
      var(--color-light-violet)
    );
    color: var(--color-white);
    width: 30rem;
    border-radius: 1.5rem 1.5rem 1.5rem 0.5rem;
    padding: 1.5rem;

    display: flex;
  }

  &__chat-radio {
    display: none;
  }

  &__chat-radio-label {
    width: 100%;
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
  }

  &__chat-radio-styled {
    border-radius: 50%;
    border: 1px solid var(--color-white);
    width: 1.5rem;
    height: 1.5rem;
    overflow: hidden;
    position: relative;
    padding: 0.2rem;
  }

  &__chat-radio-active {
    background-color: var(--color-white);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.2s;
  }

  &__chat-radio--1:checked
    ~ &__chat-radio-label--1
    &__chat-radio-styled
    &__chat-radio-active {
    opacity: 1;
  }

  &__chat-radio--2:checked
    ~ &__chat-radio-label--2
    &__chat-radio-styled
    &__chat-radio-active {
    opacity: 1;
  }

  &__chat-radio-price {
    margin-left: auto;
  }

  &__chat-message-input-box {
    background-color: var(--color-white);
    padding: 1rem;
    border-radius: 100rem;

    display: flex;
    align-items: center;
  }

  &__chat-message-text {
    border: none;
    width: 100%;
    margin-left: 1rem;
    width: 90%;
    padding: 0.5rem;
    font-size: 1.6rem;
    font-family: "Rubik", sans-serif;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: var(--color-grayish-blue);
    }
  }

  &__chat-submit-btn {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    border: none;
    background-color: var(--color-very-dark-desaturated-violet);
    color: var(--color-white);
    font-size: 1.5rem;
    padding: 1rem;
    font-weight: 700;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.heading {
  &--1 {
    color: var(--color-very-dark-desaturated-violet);
    font-size: 4rem;
    font-weight: 500;

    @media only screen and (max-width: $bp-2) {
      font-size: 5rem;
    }
  }

  &--4 {
    font-size: 1.8rem;
    font-weight: 500;
  }
}
